.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-area: info;
    gap: 24px;
    max-width: 500px;

    .languages-info {
        display: grid;
        gap: 24px;
        align-items: flex-start;
        width: 100%;

    }

    text{
        font-size: 20px;
        color: white;
        }

    H2 {
        color: gray;
        align-items: left;
    }


}